<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show shark", [@shark] %> |
      <%= link_to "Edit Post", edit_shark_post_path(@shark,post) %> |
      <%= link_to "Destroy Post", [@shark, post], method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>
</div>

<%= link_to "New Post", new_shark_post_path(@shark) %>
